.idea/
Materiale/dataset/data_full_1.3.parquet
dataset/data_full_1.3.parquet
syrto/__pycache__/__init__.cpython-37.pyc
syrto/__pycache__/utils.cpython-37.pyc
ciao.csv
Documentazione/Performance.txt
*.pyc
__pycache__/
dataset/dataset.csv
export/
dataset/data_3.0.parquet
export_old/
dataset/data_4.1.csv
dataset/dataset.csv
dataset/data_4.0.csv
