.idea/
Materiale/dataset/data_full_1.3.parquet
dataset/data_full_1.3.parquet
syrto/__pycache__/__init__.cpython-37.pyc
syrto/__pycache__/utils.cpython-37.pyc
__pycache__/dataset_analysis.cpython-37.pyc
__pycache__/read_dataset.cpython-37.pyc
ciao.csv
